body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D1D1D1;
    background-color: #181818;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#accenth1 {
    color: #7289DA;
    display: inline-block;
}

p {
    margin: 1rem 0;
    font-size: 1.25rem;
}

button {
    background-color: #7289DA;
    color: #D1D1D1;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #606bbd;
}

.results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
}

.box {
    flex-basis: 48%; 
    text-align: center;
    padding: 15px;
    border: 1px solid #242424;
    border-radius: 5px;
    background-color: #242424;
    font-size: 1.25rem;
    word-break: break-all;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }

    .results {
        width: 90%;
    }

    .box {
        font-size: 1rem;
    }
}
